
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Copyright 2020 Nic Toumayan</p>

  </div>
  <div class="" id="pi-btn">
<form class="" action="/" method="post">
      <button class="btn btn-sm btn-outline-dark" type="submit">π</button>
</form>
  </div>
</div>
</body>
</html>
