
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Copyright 2020 Nic Toumayan</p>
    <div class="" id="pi-btn">
      <form class="" action="/" method="post">
        <button class="btn btn-info" type="submit">π</button>
      </form>
    </div>
  </div>


</div>
</body>
</html>
