<%- include("partials/header") %>

<h1>About</h1>

<p>
  This is a simple, blog/message-board type site built using Node.js running MongoDB.
</p>
<p>
  current version: <%=currentVersion%>
  </p>

<%- include("partials/footer") %>
