<%- include("partials/header") %>


<!-- THIS LISTS OLDEST POSTS FIRST, (FIX IN THE FUTURE?) -->


<% content.forEach((post) => { %>

  <h1> <%= post.title %> </h1>

<p> <%= post.post %> </p>
<%})%>





<%-include("partials/footer") %>
